@use './variables' as *;

.zeta-grid {
  &__cell {
    display: flex;
    position: absolute;
    align-items: center;
    white-space: nowrap;

    padding-inline: $spacing-2;

    color: $foreground;
    font-weight: 500;

    
    border-bottom: 1px solid $border;
  }
}
