@use './variables' as *;

.zeta-grid {
  &__wrapper {
    display: contents;
  }

  &__root {
    position: relative;
    box-sizing: border-box;
    border: $border-width-1 solid $border;
    border-radius: $radius;
    background-color: $background;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
