@use './variables' as *;

.zeta-grid {
  &__root {
    display: flex;
    border: $border-width-1 solid $border;
    border-radius: $radius;
    background-color: $background;
  }

  &__header {
    display: grid;
    border-bottom: $border-width-1 solid $border;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    width: 100%;
  }

  &__header-row {
    display: contents;
  }

  &__header-cell {
    display: flex;
    align-items: center;
    border-bottom: $border-width-1 solid $border;
    background-color: $grid-header-cell-background;
    padding-inline: $spacing-2;
    height: 100%;
    min-height: $spacing-10;
  }

  &__header-title {
    padding-inline: $spacing-2;
    color: $foreground;
    font-weight: $grid-header-cell-font-weight;
    font-size: $grid-header-cell-font-size;
    font-family: $grid-header-cell-font-family;
  }
}
