@use './variables' as *;

.zeta-grid {
  &__header {
  }

  &__header-container {
    overflow-x: auto;
    position: relative;
    overflow-y: hidden;
  }

  &__header-row {
    display: flex;
    align-items: center;
  }
}